*
*:after
*:before
    box-sizing border-box

html
body
    height 100%

body
    background $bege

::selection
    background $roxo
    color #fff

::-moz-selection
    background $roxo
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%
