desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$img($image)
    url('../img/' + $image)

$roxo = #A05D93
$bege = #BBAC8F

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700')

opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

oswald($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Oswald', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
