header
    height 200px
    margin 20px 0
    background $img('faixa_topo.png') no-repeat center top
    .center
        clearfix()
        text-align center
        padding-top 45px
        font-size 0
        position relative
    a
        position absolute
        display inline-block
        border 1px solid #fff
        oswald 16
        letter-spacing 1px
        text-decoration none
        padding 5px 12px
        color #fff
        left 0
        top 50%
        transition background .3s, color .3s
        &:hover
            background #fff
            color $roxo
        +mobile()
            position relative
            margin-top 30px
    .ruta
    .mapa
    .sandoz
        height 153px
        display inline-block
        background-position center
        background-repeat no-repeat
        margin 0 32px
    .ruta
        width 238px
        background-image $img('ruta.png')
        background-position center right
    .mapa
        width 286px
        background-image $img('mapa.png')
    .sandoz
        width 238px
        background-image $img('sandoz.png')
    +below($tablet)
        height auto
        margin 20px 0 25px
        .ruta
        .mapa
        .sandoz
            display block
            width 100%
            margin 0
        .ruta
            height 123px
        .sandoz
            height 29px
        .ruta
            background-position center
        .mapa
            margin 30px 0

.faixa-texto
    background $roxo
    padding 35px 0
    margin-bottom 30px
    h3
        opensans 20 bold
        color #fff
        margin-top 0
        text-align center
        line-height 1
    p
        opensans 16
        color #fff
        line-height 1.5
        &:last-child
            margin-bottom 0
    img
        display block
        max-width 50%
        &.imagem-apresentacao-1
            float left
            margin-right 20px
            margin-bottom 10px
        &.imagem-apresentacao-2
            max-width 36%
            float right
            margin-left 20px
            margin-top 10px
            margin-bottom 10px
        +mobile()
            width 100%
            max-width 100% !important
            margin 0 !important
            float none !important
    +mobile()
        padding 25px 0
        margin-bottom 25px
        h3
            font-size 18px
        p
            font-size 15px

.thumbs
    .center
        clearfix()
    a
        display block
        width 33.333%
        float left
        border 1px solid $roxo
        margin-left -1px
        margin-top -1px
        position relative
        text-decoration none
        box-shadow 0 0 0 rgba(#000, 0)
        transition box-shadow .3s
        +tablet()
            width 50%
        +mobile()
            width 100%
        &:hover
            background $roxo
            color #fff
            z-index 2
            box-shadow 5px 5px 15px rgba(#000, .5)
            .overlay
                opacity 1
            .info
                box-shadow 3px 3px 8px rgba(#000, .4)
        img
            width 100%
            display block
        .info
            position absolute
            width calc('100% - 40px')
            left 20px
            top 20px
            box-shadow 0 0 0 rgba(#000, 0)
            transition box-shadow .3s
            clearfix()
            .texto
                width calc('100% - 85px')
                float left
                background $roxo
                padding 10px
                min-height 85px
                h2
                    oswald 18
                    color #fff
                    margin 0
                    line-height 1.2
                p
                    oswald 11
                    color #000
                    margin 5px 0 0
            img
                width 85px
                height 85px
                display block
                float left
        .overlay
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba($roxo, .5)
            opacity 0
            transition opacity .3s
        .imagem
            width calc('100% - 20px')
            height 140px
            position absolute
            bottom 10px
            left 10px
            overflow hidden
            img
                width 100%
                display block
                position relative
                top 50%
                transform translateY(-50%)

footer
    background #000
    p
        text-align center
        opensans 10
        color #fff
        margin 50px 0 0
        padding 15px 0
        +mobile()
            margin 25px 0 0
