.modulo
    position relative
    .faixa-modulo
        background $roxo
        min-height 110px
        margin-bottom 25px
        .center
            position relative
            padding-left 64px
            padding-right 640px
            padding-top 25px
        span
            oswald 84
            width 64px
            height 100px
            line-height 100px
            display inline-block
            text-align left
            position absolute
            left 0
            top 0
            color #fff
        h2
            oswald 24
            margin 0
            line-height 1.2
            color #fff
        p
            oswald 13
            color #fff
            margin 5px 0 15px
        .video-wrapper
            position absolute
            top 0
            right 0
            width 600px
            z-index 2
            .video
                width 100%
                position relative
                padding-bottom 56.25%
                height 0
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
            h3
                oswald 20
                margin 10px 0 0
        +below($tablet)
            padding-bottom 20px
            .center
                padding 0
            .titulo
                min-height 84px
            h2
            p
                padding-left 64px
            h2
                padding-top 20px
            p
                margin-bottom 25px
            .video-wrapper
                position relative
                width 100%
                margin 20px 0 0
    .main
        clearfix()
    .texto
        opensans 16
        width 550px
        float left
        p:first-child
            margin-top 0
        p:last-child
            margin-bottom 0
        .legenda
            font-size .75em
            margin-top -.2em
        a
            color $roxo
        img
            display block
            max-width 100%
        +below($tablet)
            width 100%
        +mobile()
            font-size 15px
    .outros
        width 400px
        float right
        margin-top 320px
        +below($tablet)
            width 100%
            float left
            margin-top 40px
        a
            display block
            border 1px solid $roxo
            padding 10px
            padding-left 84px
            padding-top 20px
            min-height 125px
            margin-top -1px
            position relative
            transition background .3s, color .3s, box-shadow .3s
            text-decoration none
            color $roxo
            box-shadow 0 0 0 rgba(#000, 0)
            &:hover
                background $roxo
                color #fff
                z-index 2
                box-shadow 5px 5px 15px rgba(#000, .2)
            span
                oswald 84
                width 84px
                height 110px
                line-height 110px
                display inline-block
                text-align center
                position absolute
                left 0
                top 0
            h2
                oswald 24
                margin 0
                line-height 1.2
            p
                oswald 13
                color #000
                margin 5px 0 15px
